.questionContainer {
  width: 70%;
  height: 200px;
  /* background-color: aqua; */
  margin: 0 auto;
  margin-bottom: 10px;
}

.questionBox {
  width: 200;
  background-color: palevioletred;
  margin-bottom: 10px;
  display: block;
}

.questionBox p {
  font-size: 20px;
}

.votingBox {
  float: left;
  width: 50px;
  height: 200px;
  /* background-color: blueviolet; */
}