main {
  font-family: sans-serif;
  text-align: center;
}

.vote button {
  background: none;
  border: none;
  font-size: 8px;
  border-radius: 4px;
}

#upvote.active {
  background: orangered;
  color: white;
}

#downvote.active {
  background: rgb(119, 119, 236);
  color: white;
}